@mixin solidCourse(){
  background: white;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.3);
}
.library-course{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 1fr 5fr;
  padding: 15px 25px;
  padding-right: 60px;
  &__title-check{
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
  }
  &__action{
    grid-row: 1/2;
    grid-column: 3;
  }
  &__arrow{
    grid-row: 1/2;
    grid-column: 2;
    justify-self: flex-end;
  }
  &__description{
    grid-row: 2/3;
  }
}
.library-course{
    &:hover{
          @include solidCourse;
    }
    &__title-check{
      color: $color-gray;
      font-family: $font-lato;
      font-size: 18px;
      line-height: 22px;
    }
    &__arrow{
      color: $color-blue;
    }
    &__icon{
      color: $color-blue;
    }
    &__description{
      margin-top: 19px;
      grid-row: 2/3;
      grid-column: 1/-1;
      label {
        color: $color-blue;
        font-family: $font-alegreya;
        font-size: 16px;
        font-weight: bold;
      }
      p{
        font-family: $font-lato;
        color: $color-gray;

      }
    }
}
.library-course-selected{
  @include solidCourse();
}
