.library{
  grid-column: library-s/library-e;
  z-index: 999;
  overflow-y: scroll;
  margin-right: -10px;
  &__container{
    padding-top: 75px;
    padding-left: 75px;
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    grid-template-rows: [title-s] 100px [title-e courses-e] repeat(auto-fit,1fr);
    &__title{
      color: $color-blue;
      font-family: $font-alegreya;
      font-size: 30px;
      font-weight: bold;
      border-left: 2px solid $color-blue;
      padding-left: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__arrow{

  }
}
