.library-course{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 1fr 5fr;
  &__title-arrow{
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
  }
  &__description{
    grid-row: 2/3;
  }
  &__arrow{
    grid-row: 1/2;
  }
}
