$color-purple: #6F48CE;
$color-light-blue: #32CBE8;
$color-blue: #487BCE;
$color-gray: #404040;
$font-alegreya: 'Alegreya';
$font-mont: 'Montserrat';
$font-lato: 'Lato';
$color-subtle-gray: rgba(0,0,0,0.5);
$color-subtle-black: #333;
